<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Your Posts</h1>
    <% if @posts %>

      <% @posts.each do |post| %>

      <h2><%= post.name %></h2>
      <p><%= post.content %></p>
      <a href="/posts/<%= post.id %>">Show me<a>

      <hr>

      <% end %>

      <% else %>
      <p>No posts found...</p>
    <% end %>

    <a href="/posts/new">New Post</a>
  </body>
</html>
